/***********************************************************************************************************/
/***************************************AJUSTES GENERALES***************************************************/
/***********************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/***************************************COLORES GENERALES***************************************************/
/***************************************FUENTES GENERALES***************************************************/
/***************************************FUNCIONES DE FUENTES***************************************************/
/***************************************MEDIDAS GENERALES***************************************************/
/***************************************ICONOS GENERALES***************************************************/
/***********************************************************************************************************/
/***************************************STYLE CSS***************************************************/
/***********************************************************************************************************/
/***************************************AJUSTES GENERALES***************************************************/
.m-1 {
  margin: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mx-1 {
  margin-right: 1rem;
  margin-left: 1rem;
}

.p-1 {
  padding: 1rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pl-1 {
  padding-left: 1rem;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px-1 {
  padding-right: 1rem;
  padding-left: 1rem;
}

.g-1 {
  gap: 1rem;
}

.m-2 {
  margin: 2rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.ml-2 {
  margin-left: 2rem;
}

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mx-2 {
  margin-right: 2rem;
  margin-left: 2rem;
}

.p-2 {
  padding: 2rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pl-2 {
  padding-left: 2rem;
}

.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.px-2 {
  padding-right: 2rem;
  padding-left: 2rem;
}

.g-2 {
  gap: 2rem;
}

.m-3 {
  margin: 3rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.ml-3 {
  margin-left: 3rem;
}

.my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.mx-3 {
  margin-right: 3rem;
  margin-left: 3rem;
}

.p-3 {
  padding: 3rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pl-3 {
  padding-left: 3rem;
}

.py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.px-3 {
  padding-right: 3rem;
  padding-left: 3rem;
}

.g-3 {
  gap: 3rem;
}

.m-4 {
  margin: 4rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mr-4 {
  margin-right: 4rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.ml-4 {
  margin-left: 4rem;
}

.my-4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.mx-4 {
  margin-right: 4rem;
  margin-left: 4rem;
}

.p-4 {
  padding: 4rem;
}

.pt-4 {
  padding-top: 4rem;
}

.pr-4 {
  padding-right: 4rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.pl-4 {
  padding-left: 4rem;
}

.py-4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.px-4 {
  padding-right: 4rem;
  padding-left: 4rem;
}

.g-4 {
  gap: 4rem;
}

.m-5 {
  margin: 5rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mr-5 {
  margin-right: 5rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.ml-5 {
  margin-left: 5rem;
}

.my-5 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.mx-5 {
  margin-right: 5rem;
  margin-left: 5rem;
}

.p-5 {
  padding: 5rem;
}

.pt-5 {
  padding-top: 5rem;
}

.pr-5 {
  padding-right: 5rem;
}

.pb-5 {
  padding-bottom: 5rem;
}

.pl-5 {
  padding-left: 5rem;
}

.py-5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.px-5 {
  padding-right: 5rem;
  padding-left: 5rem;
}

.g-5 {
  gap: 5rem;
}

.m-6 {
  margin: 6rem;
}

.mt-6 {
  margin-top: 6rem;
}

.mr-6 {
  margin-right: 6rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.ml-6 {
  margin-left: 6rem;
}

.my-6 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.mx-6 {
  margin-right: 6rem;
  margin-left: 6rem;
}

.p-6 {
  padding: 6rem;
}

.pt-6 {
  padding-top: 6rem;
}

.pr-6 {
  padding-right: 6rem;
}

.pb-6 {
  padding-bottom: 6rem;
}

.pl-6 {
  padding-left: 6rem;
}

.py-6 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.px-6 {
  padding-right: 6rem;
  padding-left: 6rem;
}

.g-6 {
  gap: 6rem;
}

.m-7 {
  margin: 7rem;
}

.mt-7 {
  margin-top: 7rem;
}

.mr-7 {
  margin-right: 7rem;
}

.mb-7 {
  margin-bottom: 7rem;
}

.ml-7 {
  margin-left: 7rem;
}

.my-7 {
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.mx-7 {
  margin-right: 7rem;
  margin-left: 7rem;
}

.p-7 {
  padding: 7rem;
}

.pt-7 {
  padding-top: 7rem;
}

.pr-7 {
  padding-right: 7rem;
}

.pb-7 {
  padding-bottom: 7rem;
}

.pl-7 {
  padding-left: 7rem;
}

.py-7 {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.px-7 {
  padding-right: 7rem;
  padding-left: 7rem;
}

.g-7 {
  gap: 7rem;
}

.m-8 {
  margin: 8rem;
}

.mt-8 {
  margin-top: 8rem;
}

.mr-8 {
  margin-right: 8rem;
}

.mb-8 {
  margin-bottom: 8rem;
}

.ml-8 {
  margin-left: 8rem;
}

.my-8 {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.mx-8 {
  margin-right: 8rem;
  margin-left: 8rem;
}

.p-8 {
  padding: 8rem;
}

.pt-8 {
  padding-top: 8rem;
}

.pr-8 {
  padding-right: 8rem;
}

.pb-8 {
  padding-bottom: 8rem;
}

.pl-8 {
  padding-left: 8rem;
}

.py-8 {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.px-8 {
  padding-right: 8rem;
  padding-left: 8rem;
}

.g-8 {
  gap: 8rem;
}

.m-9 {
  margin: 9rem;
}

.mt-9 {
  margin-top: 9rem;
}

.mr-9 {
  margin-right: 9rem;
}

.mb-9 {
  margin-bottom: 9rem;
}

.ml-9 {
  margin-left: 9rem;
}

.my-9 {
  margin-top: 9rem;
  margin-bottom: 9rem;
}

.mx-9 {
  margin-right: 9rem;
  margin-left: 9rem;
}

.p-9 {
  padding: 9rem;
}

.pt-9 {
  padding-top: 9rem;
}

.pr-9 {
  padding-right: 9rem;
}

.pb-9 {
  padding-bottom: 9rem;
}

.pl-9 {
  padding-left: 9rem;
}

.py-9 {
  padding-top: 9rem;
  padding-bottom: 9rem;
}

.px-9 {
  padding-right: 9rem;
  padding-left: 9rem;
}

.g-9 {
  gap: 9rem;
}

.m-10 {
  margin: 10rem;
}

.mt-10 {
  margin-top: 10rem;
}

.mr-10 {
  margin-right: 10rem;
}

.mb-10 {
  margin-bottom: 10rem;
}

.ml-10 {
  margin-left: 10rem;
}

.my-10 {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.mx-10 {
  margin-right: 10rem;
  margin-left: 10rem;
}

.p-10 {
  padding: 10rem;
}

.pt-10 {
  padding-top: 10rem;
}

.pr-10 {
  padding-right: 10rem;
}

.pb-10 {
  padding-bottom: 10rem;
}

.pl-10 {
  padding-left: 10rem;
}

.py-10 {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.px-10 {
  padding-right: 10rem;
  padding-left: 10rem;
}

.g-10 {
  gap: 10rem;
}

.g-05 {
  gap: 0.5rem;
}

body {
  background-image: url("../imgs/fondo.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-repeat: no-repeat;
}

.main {
  background-image: url("../imgs/2542.png");
  background-size: cover;
  padding: 3rem;
  height: 70vh;
}

.container {
  width: 100%;
  height: 88%;
  display: flex;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.d-grid {
  display: grid;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.row {
  display: flex;
  width: 100%;
}

.row-column {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: end;
}

.text-center {
  text-align: center;
}

.grid-5-5 {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.grid-3-5 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.grid-2-5 {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.grid-1-10 {
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.grid-1-3 {
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.w-100 {
  width: 100%;
}

.h-10 {
  height: 10vh;
}

.h-20 {
  height: 20vh;
}

.h-30 {
  height: 30vh;
}

.h-40 {
  height: 40vh;
}

.h-50 {
  height: 50vh;
}

.h-60 {
  height: 60vh;
}

.h-70 {
  height: 70vh;
}

.h-80 {
  height: 80vh;
}

.h-90 {
  height: 90vh;
}

.h-100 {
  height: 100vh;
}

.h-auto {
  height: auto;
}

.col-10 {
  width: 10%;
}

.col-20 {
  width: 20%;
}

.col-30 {
  width: 30%;
}

.col-40 {
  width: 40%;
}

.col-50 {
  width: 50%;
}

.col-60 {
  width: 60%;
}

.col-70 {
  width: 70%;
}

.col-80 {
  width: 80%;
}

.col-90 {
  width: 90%;
}

.col-100 {
  width: 100%;
}

/***************************************FUENTES GENERALES***************************************************/
h1 {
  font-family: "Jura";
  font-size: 2.8rem;
  font-style: normal;
  color: #5A595B;
}

h2 {
  font-family: "Jura";
  font-size: 2rem;
  font-style: normal;
  color: #5A595B;
}

h3 {
  font-family: "Jura";
  font-size: 1.6rem;
  font-style: normal;
  color: #5A595B;
}

.text {
  font-family: "Jura";
  font-size: 1rem;
  font-style: normal;
  color: #5A595B;
}

.font-bold {
  font-weight: bold;
}

.a {
  font-family: "Jura";
  font-size: 1rem;
  font-style: normal;
  color: #5FC4E6;
  text-decoration: none;
}

.a:hover {
  color: #1784C7;
}

.header {
  background-color: #1784C7;
}

/***************************************HOME***************************************************/
.nav-home {
  color: #5A595B;
}

.nav-home:hover {
  color: #5FC4E6;
}

.box-home-app {
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 10rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.box-home-app:hover {
  background-color: #f1f1f1;
}

.dropdown-user {
  background-color: #fff;
  position: absolute;
  top: 8%;
  right: 2%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: none;
}

.tittle-navbar-user {
  font-family: "Jura";
  font-size: 1.3rem;
}

.dropdown-user > div > div {
  padding: 0rem 3rem;
  padding-left: 1rem;
}

.box-closed-session {
  background-color: #e4e4e4;
  padding: 1rem 2rem;
}

.a-session {
  color: #000;
  font-family: "Jura";
  text-decoration: none;
}

.a-session:hover {
  color: #5A595B;
}

.animation-height-into {
  animation: ease-out 0.6s animation-height-reverse;
  transform: scaleY(1);
  transform-origin: top center;
  opacity: 0;
}

.animation-height-off {
  opacity: 0 !important;
}

.animation-height {
  animation: ease-out 0.6s animation-height;
  transform: scaleY(1);
  transform-origin: top center;
  opacity: 1;
}

@keyframes animation-height {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}
@keyframes animation-height-reverse {
  0% {
    transform: scaleY(1);
    opacity: 1;
  }
  100% {
    transform: scaleY(0);
    opacity: 0;
  }
}
.slidebar-home {
  width: 100%;
  max-width: 340px;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: #fff;
  animation: ease-out 1s animation-sidebar;
}

.slidebar-off {
  width: 0vw;
  opacity: 0;
}

.slidebar-reverse {
  width: 0vw;
  opacity: 0;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #fff;
  animation: ease-in 1s animation-sidebar-reverse;
}

.closed-slidebar {
  color: #000;
}

.closed-slidebar:hover {
  color: #5A595B;
}

@keyframes animation-sidebar {
  0% {
    width: 0px;
  }
  100% {
    width: 340px;
  }
}
@keyframes animation-sidebar-reverse {
  0% {
    width: 340px;
  }
  100% {
    width: 0px;
    opacity: 0;
  }
}
.div-alert-ssh {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100vh;
  background-color: rgba(97, 97, 97, 0.6039215686);
}

.alert-ssh {
  background-color: #fff;
  width: 400px;
  max-width: 100%;
  height: 30vh;
}

.clickboard-ssh > input {
  padding: 0.5rem;
  border-radius: 0px;
  width: 80%;
}

.clickboard-ssh > button {
  padding: 0.5rem;
  border-radius: 0px;
  cursor: pointer;
}

.div-grid-apps {
  width: 70%;
  padding-top: 4rem;
}

/***************************************AUTH***************************************************/
.box-auth {
  background-color: #fff;
  height: auto;
  width: 30rem;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-auth {
  height: 6rem;
}

.input {
  padding: 0.5rem;
  border: none;
  border-bottom: 2px solid #000;
}

.input:focus {
  outline: none;
}

.btn-auth {
  background-color: #1784C7;
  color: #fff;
  cursor: pointer;
  border: none;
  outline: none;
}

.btn-auth:hover {
  background-color: #5FC4E6;
}

.btn-cancel {
  background-color: none;
  color: #1784C7;
  cursor: pointer;
  border: none;
  outline: none;
}

.btn-cancel:hover {
  color: #5A595B;
}

.box-alta {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  padding: 3rem;
  color: green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  animation: 2s ease alertAnimations;
}

@keyframes alertAnimations {
  0% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0px);
  }
}
.box-passLogin-animate {
  animation: ease 0.7s boxPassLogin-animate;
}

@keyframes boxPassLogin-animate {
  0% {
    transform: translateY(-1000px);
  }
  100% {
    transform: translateY(0px);
  }
}
/***************************************USUARIOS***************************************************/
.table-user {
  border-collapse: collapse;
  border: 1px solid #f1f1f1;
}

.table-user > tbody > tr:nth-of-type(even) > td {
  background-color: #fff;
  border: 1px solid #f1f1f1;
  padding: 1rem;
  color: #000;
  font-family: "Jura";
  font-size: 1rem;
  font-style: normal;
}

.table-user > tbody > tr:nth-of-type(odd) > td {
  background-color: #d3d2d2;
  border: 1px solid #f1f1f1;
  padding: 1rem;
  color: #000;
  font-family: "Jura";
  font-size: 1rem;
  font-style: normal;
}

.tr-first > td {
  background-color: #1784C7 !important;
  border: 1px solid #f1f1f1;
  padding: 1rem;
  color: #fff !important;
  font-family: "Jura";
  font-size: 1rem;
  font-weight: bolder;
  font-style: normal;
}

.td-check {
  width: 5% !important;
}

.a-disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: #999;
}

.a-enabled {
  opacity: 1;
  pointer-events: all;
  cursor: pointer;
  text-decoration: none;
  color: #1784C7;
}

.input-user {
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.5rem;
  background: none;
  border: none;
  border-bottom: 2px solid #000;
}

.input-user:focus {
  box-shadow: none;
  outline: none;
}

.select-users {
  padding: 1rem;
  background-color: #1784C7;
  color: #fff;
  border-radius: 0.2rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.select-users:hover {
  opacity: 0.9;
}

.text-error {
  font-family: "Jura";
  font-size: 1rem;
  font-style: normal;
  color: red;
}

/***************************************CONTACTOS***************************************************/
.search {
  width: 100%;
  padding: 0.5em;
}

.box-search-icon {
  padding: 0.4rem;
  background-color: #1784C7;
}

.select-complements {
  padding: 0.3rem;
  outline: none;
  box-shadow: none;
  border: none;
  border-radius: 5px;
  margin: 0px 0.2rem;
  cursor: pointer;
  background: none;
}

.select-complements:hover {
  background-color: #dadee5;
}

/***************************************FOOTER***************************************************/
.a-footer {
  font-family: "Jura";
  font-size: 1rem;
  font-style: normal;
  text-decoration: none;
  color: #5A595B;
}

.a-footer:hover {
  color: #5FC4E6;
}

/***********************************************************************************************************/
/***************************************RESPONSIVES***************************************************/
/***********************************************************************************************************/
@media screen and (max-width: 992px) {
  body {
    height: 150vh;
  }
  .grid-5-5-lg {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  .grid-4-5-lg {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  .grid-3-5-lg {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  .grid-2-5-lg {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  .grid-1-10-lg {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }
  .grid-1-3-lg {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .justify-center-tablet {
    justify-content: center !important;
  }
}
/***************************************TABLETS***************************************************/
@media screen and (max-width: 768px) {
  body {
    height: 150vh;
  }
  .m-tablet-1 {
    margin: 1rem !important;
  }
  .mt-tablet-1 {
    margin-top: 1rem !important;
  }
  .mr-tablet-1 {
    margin-right: 1rem !important;
  }
  .mb-tablet-1 {
    margin-bottom: 1rem !important;
  }
  .ml-tablet-1 {
    margin-left: 1rem !important;
  }
  .my-tablet-1 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }
  .mx-tablet-1 {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
  }
  .p-tablet-1 {
    padding: 1rem !important;
  }
  .pt-tablet-1 {
    padding-top: 1rem !important;
  }
  .pr-tablet-1 {
    padding-right: 1rem !important;
  }
  .pb-tablet-1 {
    padding-bottom: 1rem !important;
  }
  .pl-tablet-1 {
    padding-left: 1rem !important;
  }
  .py-tablet-1 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
  .px-tablet-1 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }
  .g-tablet-1 {
    gap: 1rem !important;
  }
  .m-tablet-2 {
    margin: 2rem !important;
  }
  .mt-tablet-2 {
    margin-top: 2rem !important;
  }
  .mr-tablet-2 {
    margin-right: 2rem !important;
  }
  .mb-tablet-2 {
    margin-bottom: 2rem !important;
  }
  .ml-tablet-2 {
    margin-left: 2rem !important;
  }
  .my-tablet-2 {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
  }
  .mx-tablet-2 {
    margin-right: 2rem !important;
    margin-left: 2rem !important;
  }
  .p-tablet-2 {
    padding: 2rem !important;
  }
  .pt-tablet-2 {
    padding-top: 2rem !important;
  }
  .pr-tablet-2 {
    padding-right: 2rem !important;
  }
  .pb-tablet-2 {
    padding-bottom: 2rem !important;
  }
  .pl-tablet-2 {
    padding-left: 2rem !important;
  }
  .py-tablet-2 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }
  .px-tablet-2 {
    padding-right: 2rem !important;
    padding-left: 2rem !important;
  }
  .g-tablet-2 {
    gap: 2rem !important;
  }
  .m-tablet-3 {
    margin: 3rem !important;
  }
  .mt-tablet-3 {
    margin-top: 3rem !important;
  }
  .mr-tablet-3 {
    margin-right: 3rem !important;
  }
  .mb-tablet-3 {
    margin-bottom: 3rem !important;
  }
  .ml-tablet-3 {
    margin-left: 3rem !important;
  }
  .my-tablet-3 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
  }
  .mx-tablet-3 {
    margin-right: 3rem !important;
    margin-left: 3rem !important;
  }
  .p-tablet-3 {
    padding: 3rem !important;
  }
  .pt-tablet-3 {
    padding-top: 3rem !important;
  }
  .pr-tablet-3 {
    padding-right: 3rem !important;
  }
  .pb-tablet-3 {
    padding-bottom: 3rem !important;
  }
  .pl-tablet-3 {
    padding-left: 3rem !important;
  }
  .py-tablet-3 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
  .px-tablet-3 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
  }
  .g-tablet-3 {
    gap: 3rem !important;
  }
  .m-tablet-4 {
    margin: 4rem !important;
  }
  .mt-tablet-4 {
    margin-top: 4rem !important;
  }
  .mr-tablet-4 {
    margin-right: 4rem !important;
  }
  .mb-tablet-4 {
    margin-bottom: 4rem !important;
  }
  .ml-tablet-4 {
    margin-left: 4rem !important;
  }
  .my-tablet-4 {
    margin-top: 4rem !important;
    margin-bottom: 4rem !important;
  }
  .mx-tablet-4 {
    margin-right: 4rem !important;
    margin-left: 4rem !important;
  }
  .p-tablet-4 {
    padding: 4rem !important;
  }
  .pt-tablet-4 {
    padding-top: 4rem !important;
  }
  .pr-tablet-4 {
    padding-right: 4rem !important;
  }
  .pb-tablet-4 {
    padding-bottom: 4rem !important;
  }
  .pl-tablet-4 {
    padding-left: 4rem !important;
  }
  .py-tablet-4 {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
  }
  .px-tablet-4 {
    padding-right: 4rem !important;
    padding-left: 4rem !important;
  }
  .g-tablet-4 {
    gap: 4rem !important;
  }
  .m-tablet-5 {
    margin: 5rem !important;
  }
  .mt-tablet-5 {
    margin-top: 5rem !important;
  }
  .mr-tablet-5 {
    margin-right: 5rem !important;
  }
  .mb-tablet-5 {
    margin-bottom: 5rem !important;
  }
  .ml-tablet-5 {
    margin-left: 5rem !important;
  }
  .my-tablet-5 {
    margin-top: 5rem !important;
    margin-bottom: 5rem !important;
  }
  .mx-tablet-5 {
    margin-right: 5rem !important;
    margin-left: 5rem !important;
  }
  .p-tablet-5 {
    padding: 5rem !important;
  }
  .pt-tablet-5 {
    padding-top: 5rem !important;
  }
  .pr-tablet-5 {
    padding-right: 5rem !important;
  }
  .pb-tablet-5 {
    padding-bottom: 5rem !important;
  }
  .pl-tablet-5 {
    padding-left: 5rem !important;
  }
  .py-tablet-5 {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
  }
  .px-tablet-5 {
    padding-right: 5rem !important;
    padding-left: 5rem !important;
  }
  .g-tablet-5 {
    gap: 5rem !important;
  }
  .m-tablet-6 {
    margin: 6rem !important;
  }
  .mt-tablet-6 {
    margin-top: 6rem !important;
  }
  .mr-tablet-6 {
    margin-right: 6rem !important;
  }
  .mb-tablet-6 {
    margin-bottom: 6rem !important;
  }
  .ml-tablet-6 {
    margin-left: 6rem !important;
  }
  .my-tablet-6 {
    margin-top: 6rem !important;
    margin-bottom: 6rem !important;
  }
  .mx-tablet-6 {
    margin-right: 6rem !important;
    margin-left: 6rem !important;
  }
  .p-tablet-6 {
    padding: 6rem !important;
  }
  .pt-tablet-6 {
    padding-top: 6rem !important;
  }
  .pr-tablet-6 {
    padding-right: 6rem !important;
  }
  .pb-tablet-6 {
    padding-bottom: 6rem !important;
  }
  .pl-tablet-6 {
    padding-left: 6rem !important;
  }
  .py-tablet-6 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
  }
  .px-tablet-6 {
    padding-right: 6rem !important;
    padding-left: 6rem !important;
  }
  .g-tablet-6 {
    gap: 6rem !important;
  }
  .m-tablet-7 {
    margin: 7rem !important;
  }
  .mt-tablet-7 {
    margin-top: 7rem !important;
  }
  .mr-tablet-7 {
    margin-right: 7rem !important;
  }
  .mb-tablet-7 {
    margin-bottom: 7rem !important;
  }
  .ml-tablet-7 {
    margin-left: 7rem !important;
  }
  .my-tablet-7 {
    margin-top: 7rem !important;
    margin-bottom: 7rem !important;
  }
  .mx-tablet-7 {
    margin-right: 7rem !important;
    margin-left: 7rem !important;
  }
  .p-tablet-7 {
    padding: 7rem !important;
  }
  .pt-tablet-7 {
    padding-top: 7rem !important;
  }
  .pr-tablet-7 {
    padding-right: 7rem !important;
  }
  .pb-tablet-7 {
    padding-bottom: 7rem !important;
  }
  .pl-tablet-7 {
    padding-left: 7rem !important;
  }
  .py-tablet-7 {
    padding-top: 7rem !important;
    padding-bottom: 7rem !important;
  }
  .px-tablet-7 {
    padding-right: 7rem !important;
    padding-left: 7rem !important;
  }
  .g-tablet-7 {
    gap: 7rem !important;
  }
  .m-tablet-8 {
    margin: 8rem !important;
  }
  .mt-tablet-8 {
    margin-top: 8rem !important;
  }
  .mr-tablet-8 {
    margin-right: 8rem !important;
  }
  .mb-tablet-8 {
    margin-bottom: 8rem !important;
  }
  .ml-tablet-8 {
    margin-left: 8rem !important;
  }
  .my-tablet-8 {
    margin-top: 8rem !important;
    margin-bottom: 8rem !important;
  }
  .mx-tablet-8 {
    margin-right: 8rem !important;
    margin-left: 8rem !important;
  }
  .p-tablet-8 {
    padding: 8rem !important;
  }
  .pt-tablet-8 {
    padding-top: 8rem !important;
  }
  .pr-tablet-8 {
    padding-right: 8rem !important;
  }
  .pb-tablet-8 {
    padding-bottom: 8rem !important;
  }
  .pl-tablet-8 {
    padding-left: 8rem !important;
  }
  .py-tablet-8 {
    padding-top: 8rem !important;
    padding-bottom: 8rem !important;
  }
  .px-tablet-8 {
    padding-right: 8rem !important;
    padding-left: 8rem !important;
  }
  .g-tablet-8 {
    gap: 8rem !important;
  }
  .m-tablet-9 {
    margin: 9rem !important;
  }
  .mt-tablet-9 {
    margin-top: 9rem !important;
  }
  .mr-tablet-9 {
    margin-right: 9rem !important;
  }
  .mb-tablet-9 {
    margin-bottom: 9rem !important;
  }
  .ml-tablet-9 {
    margin-left: 9rem !important;
  }
  .my-tablet-9 {
    margin-top: 9rem !important;
    margin-bottom: 9rem !important;
  }
  .mx-tablet-9 {
    margin-right: 9rem !important;
    margin-left: 9rem !important;
  }
  .p-tablet-9 {
    padding: 9rem !important;
  }
  .pt-tablet-9 {
    padding-top: 9rem !important;
  }
  .pr-tablet-9 {
    padding-right: 9rem !important;
  }
  .pb-tablet-9 {
    padding-bottom: 9rem !important;
  }
  .pl-tablet-9 {
    padding-left: 9rem !important;
  }
  .py-tablet-9 {
    padding-top: 9rem !important;
    padding-bottom: 9rem !important;
  }
  .px-tablet-9 {
    padding-right: 9rem !important;
    padding-left: 9rem !important;
  }
  .g-tablet-9 {
    gap: 9rem !important;
  }
  .m-tablet-10 {
    margin: 10rem !important;
  }
  .mt-tablet-10 {
    margin-top: 10rem !important;
  }
  .mr-tablet-10 {
    margin-right: 10rem !important;
  }
  .mb-tablet-10 {
    margin-bottom: 10rem !important;
  }
  .ml-tablet-10 {
    margin-left: 10rem !important;
  }
  .my-tablet-10 {
    margin-top: 10rem !important;
    margin-bottom: 10rem !important;
  }
  .mx-tablet-10 {
    margin-right: 10rem !important;
    margin-left: 10rem !important;
  }
  .p-tablet-10 {
    padding: 10rem !important;
  }
  .pt-tablet-10 {
    padding-top: 10rem !important;
  }
  .pr-tablet-10 {
    padding-right: 10rem !important;
  }
  .pb-tablet-10 {
    padding-bottom: 10rem !important;
  }
  .pl-tablet-10 {
    padding-left: 10rem !important;
  }
  .py-tablet-10 {
    padding-top: 10rem !important;
    padding-bottom: 10rem !important;
  }
  .px-tablet-10 {
    padding-right: 10rem !important;
    padding-left: 10rem !important;
  }
  .g-tablet-10 {
    gap: 10rem !important;
  }
  .header {
    background-color: #1784C7;
    padding: 3rem;
  }
  .footer {
    background-color: #1784C7;
    padding: 3rem;
  }
  .main {
    background-image: url("../imgs/2542.png");
    padding: 3rem;
  }
  .d-none-tablet {
    display: none !important;
  }
  .d-block-tablet {
    display: block !important;
  }
  .d-flex-tablet {
    display: flex !important;
  }
  h1 {
    font-family: "Jura";
    font-size: 2.5rem;
    font-style: normal;
  }
  h2 {
    font-family: "Jura";
    font-size: 1.8rem;
    font-style: normal;
  }
  h3 {
    font-family: "Jura";
    font-size: 1.4rem;
    font-style: normal;
  }
  .row {
    display: flex;
    width: 100%;
    flex-direction: column !important;
    gap: 1rem;
  }
  .col-tablet-10 {
    width: 10% !important;
  }
  .col-tablet-20 {
    width: 20% !important;
  }
  .col-tablet-30 {
    width: 30% !important;
  }
  .col-tablet-40 {
    width: 40% !important;
  }
  .col-tablet-50 {
    width: 50% !important;
  }
  .col-tablet-60 {
    width: 60% !important;
  }
  .col-tablet-70 {
    width: 70% !important;
  }
  .col-tablet-80 {
    width: 80% !important;
  }
  .col-tablet-90 {
    width: 90% !important;
  }
  .col-tablet-100 {
    width: 100% !important;
  }
  .justify-tablet-center {
    justify-content: center !important;
  }
  .justify-tablet-end {
    justify-content: end !important;
  }
  .justify-tablet-between {
    justify-content: space-between !important;
  }
  .justify-tablet-around {
    justify-content: space-around !important;
  }
  .nav-img {
    width: 12rem;
    height: 12rem;
    background-color: #5FC4E6;
    border-radius: 100%;
    background-image: url("../imgs/1712518671384.png");
    background-size: cover;
    cursor: pointer;
  }
  .sidebar-nav {
    height: 130vh;
  }
  .box-circle-nav {
    height: 120vh;
  }
  .sidebar-nav > div > ul > li > a {
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
    width: 100% !important;
    display: block;
  }
  .grid-6-5-md {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  .grid-3-5-md {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  .grid-2-5-md {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  .grid-1-10-md {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }
  .grid-1-3-md {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .box-home-app {
    width: 10rem;
  }
}
@media screen and (max-width: 576px) {
  body {
    height: 100vh;
  }
  .main {
    background-image: url("../imgs/2542.png");
    padding: 3rem 1.5rem;
  }
  .d-none-mobile {
    display: none !important;
  }
  .d-block-mobile {
    display: block !important;
  }
  .d-flex-mobile {
    display: flex !important;
  }
  h1 {
    font-family: "Jura";
    font-size: 2rem;
    font-style: normal;
  }
  h2 {
    font-family: "Jura";
    font-size: 1.5rem;
    font-style: normal;
  }
  h3 {
    font-family: "Jura";
    font-size: 1.2rem;
    font-style: normal;
  }
  .row {
    display: flex;
    width: 100%;
    flex-direction: column !important;
    align-items: center;
    gap: 1rem;
  }
  .justify-mobile-center {
    justify-content: center !important;
  }
  .justify-mobile-end {
    justify-content: end !important;
  }
  .justify-mobile-between {
    justify-content: space-between !important;
  }
  .justify-mobile-around {
    justify-content: space-around !important;
  }
  .box-auth {
    background: none;
    box-shadow: none;
    width: 80%;
    transform: scale(1.2);
  }
  .input {
    background: none;
  }
  .footer-xxl {
    display: none;
  }
  .d-none-mobile {
    display: none !important;
  }
  .d-block-mobile {
    display: block !important;
  }
  .box-home-app {
    flex-direction: row !important;
    height: auto !important;
    width: 100%;
    padding: 2rem;
    justify-content: start;
  }
  .div-nav-mobile {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #fff;
    height: 10vh;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
}
/***************************************MOBILES***************************************************/

/*# sourceMappingURL=style.css.map */
